<template>
  <div class="hero-body">
    <div class="columns is-multiline">
      <div class="column is-12">
        <p class="is-size-4 typoH1 is-vAlign">
          <span class="icon is-small">
            <i class="fas fa-atlas"></i>
          </span>
          BIOGRAPHIE
        </p>
      </div>
      <div class="column is-12 typoText2 is-pBox">
        <p>
          Danny de Vito lui offre son premier rôle sur grand écran, dans Hoffa, un film sorti en 1992, Jon ne
          tient qu’un petit rôle mais approche de plus près plateaux et réalisateurs. La magie semble marcher
          puisque tout de suite, il se voit offrir des seconds rôles par ci par là.Alan Rudolph, lui fait
          confiance et lui confie le rôle d’Elmer Rice, une petite participation au film Mrs Parker et le
          Cercle vicieux , avec Jennifer Jason Leigh et Matthew Broderick .L’année suivante, c’est sur le
          tournage de Batman Forever de Joel Schumacher qu’il donne la réplique à Jim Carrey et à Val Kilmer.
        </p>
        <br>
        <p>
          <strong class="typoH2 is-size-5">Jon passe de l'autre côté de la caméra</strong>
          <br>L’acteur aime tellement le cinéma qu’il veut le découvrir de tous les côtés. Il se met alors à
          l’écriture et pond le scénario de Swingers , réalisé par Doug Liman , film où il tient le premier
          rôle. Le visage de Jon est désormais connu. Il incarne en 1998 un docteur persuadé de la fin du
          monde dans Deep Impact de Mimi Leder . C’est la même année que les choses deviennent un peu plus
          sérieuses pour le jeune comédien qui interprète le futur mari de Cameron Diaz dans une comédie
          macabre, Very Bad Things de Peter Berg. Valérie Breiman l’imagine ensuite en amoureux indécis dans
          Love and Sex où il donne la réplique à la belle Famke Janssen .En 2000, Jon Favreau souhaite
          s’essayer à d’autres activités cinématographiques et réalise son premier long-métrage, Made où il
          se met lui-même en scène aux cotés de Vince Vaughn.Mais toujours amoureux du jeu, ce passionné de
          cinéma continue de jouer dans des films, notamment dans le Daredevil de Mark Steven Johnson . En
          plus du cinéma, Jon excelle dans des rôles télévisuels : ainsi, pendant quelques épisodes, il
          campera le petit ami milliardaire et généreux de Monica Geller (Courtney Cox) dans la série à
          succès Friends.L’acteur poursuit également ses envies de réaliser des films et en 2002, il met en
          scène le film Elfe où Will Ferrell incarne un elfe de trente ans à la recherche de sa vraie
          famille. Deux ans plus tard, dans La Plus Belle Victoire avec Kirsten Dunst , il occupe le rôle de
          l’ami jaloux.C’est encore deux ans après qu’il met en scène Tim Robbins dans le film Zathura : une
          aventure spatiale dans un film familial fantastique qui plonge une famille ordinaire dans
          l’extraordinaire de l’espace.
        </p>
        <br>
        <p>
          <strong class="typoH2 is-size-5">Jon Favreau créa Iron Man</strong>
          <br>En 2008, il créé l’événement en offrant à Robert Downey Jr son premier rôle de super héros dans
          Iron Man, expérience qu'il réitère avec Iron Man 2 en 2010. S'il ne met pas en scène le troisième
          volet, il garde cependant son rôle de Happy.En 2011, il s'attaque à Cowboys & Envahisseurs, un film
          porté par Daniel Craig, Olivia Wilde ou encore Harrison Ford. L'année suivante, il se retrouve au
          casting du blockbuster John Carter, film qui restera un échec au box-office. En 2012, il participe
          également au prochain film de Seth Gordon.L'année 2014 s'avère faste pour Jon : acteur, il joue
          dans le Loup de Wall Street de Martin Scorsese, gros succès commercial et critique tandis qu'il
          joue et réalise Chef, une comédie sur le milieu de la restauration dans laquelle il offre également
          un petit rôle à son ami Robert Downey Jr.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
/*
import getListe from "@/services/getListe";
*/

export default {
  name: "Biographie",
  /*
  data() {
    return {
      liste2: []
    };
  },

  created() {
    getListe
      .getListe2("listeBio")
      .then(promise => {
        this.liste2 = promise;
      })
      .catch(error => console.log(error));
  }
  */
};
</script>

<style scoped>
.is-pBox {
    padding: 0 10vw 0 10vw;
}
</style>