
<template>
  <div class="hero-body">
    <div class="columns">
      <div class="column has-text-centered">
        <p class="is-size-4 typoH1 is-vAlign">
          <span class="icon is-small">
            <i class="fas fa-address-card"></i>
          </span>
          FICHE FILM
        </p>
      </div>
    </div>
    <div class="card" v-for="valeur in liste4" :key="valeur.id">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="static/elfe2.png" alt="Elfe">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-2 typoH2">{{ valeur.titre }}</p>
            <p class="subtitle is-6 typoLegendes">
              {{ valeur.soustitre }}
              <br>
              <time datetime="2016-1-1">{{ valeur.date }}</time>
            </p>
          </div>
        </div>

        <div class="content typoText2">
          <br>
          <iframe
            width="80%"
            height="200"
            src="https://www.youtube.com/embed/LiU1B7H0gAo"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          {{ valeur.resume }}
          <br>
        </div>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>
import getListe from "@/services/getListe";

export default {
  name: "Fiche",
  data() {
    return {
      liste4: []
    };
  },

  created() {
    getListe
      .getListe4("listeFiche")
      .then(promise => {
        this.liste4 = promise;
      })
      .catch(error => console.log(error));
  }
};
</script>

<style scoped>
@media screen and (min-width: 800px) {
  .card {
    width: 40%;
    margin: 0 30% 0 30%;
  }
}
@media screen and (min-width: 400px) and (max-width: 799px) {
  .card {
    width: 60%;
    margin: 0 20% 0 20%;
  }
}
@media screen and (max-width: 399px) {
  .card {
    width: 90%;
    margin: 0 5% 0 5%;
  }
}
@media screen and (max-width: 299px) {
  .card {
    width: 94%;
    margin: 0 3% 0 3%;
  }
}
</style>