
<template>
  <div class="hero-body is-marginCenter">
    <div class="columns is-multiline">
      <div class="column is-12">
        <p class="is-size-4 typoH1 is-vAlign">
          <span class="icon is-small">
            <i class="fas fa-film"></i>
          </span>
          FILMOGRAPHIE
        </p>
      </div>
      <div class="column is-12">
        <table class="table typoText2 is-marginCenter">
          <thead>
            <tr>
              <th>Visuel</th>
              <th>Année</th>
              <th>Nom</th>
              <th>
                <abbr title="Diffusiom">Dif</abbr>
              </th>
              <th>Poste</th>
            </tr>
          </thead>
          <tbody v-for="valeur in liste1" :key="valeur.id">
            <tr id="ancreRealisateur">
              <th>
                <figure class="image is-48x48">
                  <img v-bind:src='valeur.visuel'>
                </figure>
              </th>
              <td>{{ valeur.annee }}</td>
              <td>{{ valeur.nom }}</td>
              <td>{{ valeur.dif }}</td>
              <td>{{ valeur.poste }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import getListe from "@/services/getListe";

export default {
  name: "Filmographie",
  data() {
    return {
      liste1: []
    };
  },

  created() {
    getListe
      .getListe("listeFilms")
      .then(promise => {
        this.liste1 = promise;
      })
      .catch(error => console.log(error));
  }
};
</script>

<style scoped>
/*--- FILMOGRAPHIE ---*/
.is-marginCenter {
  margin: 0 auto;
}
</style>

<!--
<thead>
            <tr>
              <th>Visuel</th>
              <th>Année</th>
              <th>Nom</th>
              <th>
                <abbr title="Diffusiom">Dif</abbr>
              </th>
              <th>Poste</th>
              <th>
                <abbr title="Fiche">Fiche</abbr>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr id="ancreRealisateur">
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2001</td>
              <td>Made</td>
              <td>Cinéma</td>
              <td>Réalisateur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Cinéma</td>
              <td>Réalisateur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
<tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Cinéma</td>
              <td>Réalisateur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Réalisateur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Réalisateur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Réalisateur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr id="ancreActeur">
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Cinéma</td>
              <td>Acteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Cinéma</td>
              <td>Acteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Cinéma</td>
              <td>Acteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Acteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Acteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Acteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr id="ancreProducteur">
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Cinéma</td>
              <td>Producteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Cinéma</td>
              <td>Producteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Cinéma</td>
              <td>Producteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Producteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Producteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <figure class="image is-48x48">
                  <img src="static/elfe.jpg">
                </figure>
              </th>
              <td>2003</td>
              <td>Elfe</td>
              <td>Télévision</td>
              <td>Producteur</td>
              <td>
                <a>
                  <router-link to="/fiche">+</router-link>
                </a>
              </td>
            </tr>
            </tbody>
-->