
<template>
  <div class="hero-body is-marginCenter">
    <div class="columns is-multiline">
      <div class="column is-12">
        <p class="is-size-4 typoH1 is-vAlign">
          <span class="icon is-small">
            <i class="fas fa-trophy"></i>
          </span>
          NOMINATIONS
        </p>
      </div>
      <div class="column is-12">
        <table class="table typoText2 is-marginCenter">
          <thead>
            <tr>
              <th>Année</th>
              <th>Nom</th>
              <th>Film</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody v-for="valeur in liste3" :key="valeur.id">
            <tr>
              <td>{{ valeur.annee }}</td>
              <td>{{ valeur.nom }}</td>
              <td>{{ valeur.film }}</td>
              <td>{{ valeur.prix }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import getListe from "@/services/getListe";

export default {
  name: "Nominations",
  data() {
    return {
      liste3: []
    };
  },

  created() {
    getListe
      .getListe3("listeNomi")
      .then(promise => {
        this.liste3 = promise;
      })
      .catch(error => console.log(error));
  }
};
</script>

<style scoped>
</style>