<template>
  <div class="hero-body is-bgImage">
    <div class="container is-fullhd">
      <div class="columns">
        <div class="column is-2"></div>
        <div class="colum is-8">
          <iframe
            class="spe"
            width="80%"
            height="400"
            src="https://www.youtube.com/embed/pdriPyd9lH0"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <article class="media is-pTop is-vAlign">
            <div class="media-content">
              <div class="content box">
                <p class="typoText2 is-colorB">
                  Jon Favreau, né le 19 octobre 1966 à Queens à New York, est un acteur,
                  producteur,
                  réalisateur et scénariste américain. Après avoir suivi des études dans la Bronx
                  High School of Science, le jeune diplômé Jon Favreau fait ses premiers pas en
                  tant
                  que comédien, accompagné par les plus grands : c’est avec Mike Myers , l’espion
                  fou
                  d’Austin Powers, Tim Meadows et d’autres apprentis comédiens qu’il fonde la
                  Chicago
                  ’s ImprovOlympics, une troupe de théâtre d’improvisation. La comédie s’empare
                  de
                  lui et ne le quittera plus jamais.
                  <br>
                  <a class="typoH2">
                    <router-link to="/biographie">En savoir plus</router-link>
                  </a>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-2"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Presentation"
};
</script>

<style scoped>
/*--- PRESENTATION ---*/
.is-imgReg {
  width: 80%;
  margin: 0 10% 0 10% 0;
}
.is-pTop {
  padding-top: 1.5rem;
}
.is-contour {
  padding: 1.4rem;
}
.is-opacity {
  opacity: 0.4;
}
.is-centerI {
  margin: 0 34% 0 34%;
}
iframe {
  margin: 0 10% 0 10%;
}
.spe {
  margin-top: 18rem;
}
</style>
