
<template>
  <div id="app">
    <section class="hero">
      <!--NAV-->
      <div class="hero-header">
        <nav class="navbar is-transparent is-fluid">
          <div class="navbar-brand is-flex">
            <a class="navbar-item">
              <router-link to="/" class="is-vAlign">
                <img src="static/photo_imdb.jpg" alt="Jon FAVREAU" class="is-pRight">
                <p class="typoName">Jon FAVREAU</p>
              </router-link>
            </a>
            <div class="navbar-burger burger" data-target="navbarHead">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div class="navbar-menu" id="navbarHead">
            <div class="navbar-end is-vAlign typoH1">
              <a class="navbar-item">
                <router-link to="/">Présentation</router-link>
              </a>
              <a class="navbar-item">
                <router-link to="/biographie">Biographie</router-link>
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-vcenter">
                  <router-link to="/filmographie">Filmographie</router-link>
                </a>
                <div class="navbar-dropdown is-boxed is-vcenter">
                  <a class="navbar-item">
                    <router-link to="#ancreRealisateur">Réalisateur</router-link>
                  </a>
                  <a class="navbar-item">
                    <router-link to="#ancreActeur">Acteur</router-link>
                  </a>
                  <a class="navbar-item">
                    <router-link to="#ancreProducteur">Producteur</router-link>
                  </a>
                </div>
              </div>
              <a class="navbar-item">
                <router-link to="/nominations">Nominations</router-link>
              </a>
              <a class="navbar-item">
                <router-link to="/fiche">Fiche film</router-link>
              </a>
            </div>
          </div>
        </nav>
      </div>
      <router-view/>

      <hr>
      <div class="hero-footer is-contour">
        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-1.5 is-vAlign">
            <figure class="image is-64x64 has-text-centered">
              <img src="static/ironMan.jpg">
            </figure>
          </div>
          <div class="column is-2 has-text-centered">
            <p class="title is-size-6 typoH2">À propos</p>
            <div class="content typoText2">
              <p>Site dédié a la présentation de Jon Favreau</p>
            </div>
          </div>
          <div class="column is-3 has-text-centered">
            <p class="title is-size-6 typoH2">Le suivre</p>
            <div class="content typoText2">
              <a href="https://www.facebook.com/jonfavreau/">@jonfavreau</a>
              <br>
              <a href="https://twitter.com/jon_favreau">@Jon_Favreau</a>
            </div>
          </div>
          <div class="column is-2 has-text-centered">
            <p class="title is-size-6 typoH2">Réalisation du site</p>
            <p class="typoText2">Antoine MAUREL</p>
          </div>
          <div class="column is-1.5 is-vAlign">
            <figure class="image is-64x64 has-text-centered">
              <img src="static/spiderMan.png">
            </figure>
          </div>
          <div class="column is-1"></div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "App"
};

document.addEventListener("DOMContentLoaded", () => {
  const $navbarBurgers = Array.prototype.slice.call(
    document.querySelectorAll(".navbar-burger"),
    0
  );

  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach(el => {
      el.addEventListener("click", () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        el.classList.toggle("is-active");
        $target.classList.toggle("is-active");
      });
    });
  }
});
</script>

<style>
/*--- NAV ---*/
@media screen and (min-width: 769px) {
  .navbar {
    padding: 0 2rem 0 1.5rem;
    margin: 1rem 0 1rem 0;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 1rem 0 0.5rem;
    margin-top: 0.5rem 0 0.5rem 0;
  }
}
.is-pRight {
  margin-right: 1rem;
}
</style>
